[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fastapi = "*"
environs = "*"
uvicorn = {extras = ["standard"], version = "*"}
httpx = "*"
notion-client = "*"
ipython = "*"
pymongo = {extras = ["srv"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
redis = "*"
rq = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.8"
